body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EDF1F9;
  font-family: "Inter", sans-serif;
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homenavbar {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.40799999237060547px;
  text-align: center;
}


.author {
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  text-align: left;

}

.date,
.metric {
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  text-align: left;

}

.date {
  color: #898A8D;

}

.metric {
  color: black
}

.login-bg {
  background: #EDE8FC;
  min-height: 100vh;
  font-family: "Inter", sans-serif !important;
  z-index: 0;
}

.forgot-bg {
  background: #BFB5DF;
  min-height: 100vh;
  font-family: "Inter", sans-serif !important;
  z-index: 0;
}

.signup-bg {
  font-family: "Inter", sans-serif !important;
}


.custom-placeholder::placeholder {
  color: #abb0ba !important;
  font-family: "Inter", sans-serif !important;
  font-size: 16px;
}

.react-tel-input .selected-flag {
  outline: #898A8D;
  position: relative;
  height: 100%;
  width: 100px !important;
  padding: 0 11px !important;
  border-radius: 3px 0 0 3px;

}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-right: 20px !important;
  border-radius: 3px 0 0 3px;
}

.react-tel-input .form-control {
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #abb0ba;
  border-radius: 5px;
  width: 100% !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  outline: none;
  transition: box-shadowease .25s, border-colorease .25s;
  color: #495057;
}

.modal .modal-content {
  width: 85% !important;
  height: 450px !important;
  margin: auto !important
}

.modalb .modal-content {
  width: 85% !important;
  height: 400px !important;
  margin: auto !important
}

.range-slider .range-slider__thumb,
.range-slider .range-slider__range {

  background: #9900FF !important;
}

.body p {
  margin-bottom: 0 !important;
}

.custom-check, .form-check-input:checked{
  background-color: #9900FF !important;
  border-color: #9900FF !important;
  accent-color: #9900FF !important;
}